@import 'navbar';

////////////////////////////////////////////////////////////////////////////////
// STICKY ELEMENTS
////////////////////////////////////////////////////////////////////////////////


.affix {
  position: fixed;
  top: 0;
  margin-top: $navbar-min-height + 26px;
}

.affix-top, .affix-bottom {
  position: static;
}



